html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Overall */

html {
    font-size:62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size:1.8rem;
    color:#000;
    background-color:#FAFAFA;
}

.bodyWithImage {
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/giphy.gif");
    background-repeat:no-repeat;
    min-height:100vh;
    background-size:cover;
    background-position:center;
}

.wrapper{
    max-width:1200px;
    width:85%;
    margin:0 auto;
}

body,
ul,
h1,
h2,
h3,
p{
    margin:0;
    padding:0;
}

h1 {
    font-size:7rem;
}

h2 {
    font-size:4.8rem;
}

h3 {
    font-size:3.8rem;
}

p {
    font-size:1.8rem;
}

a,
button{
    font-family:inherit;
    cursor:pointer;
}

.flexContainer{
    display:flex;
    flex-wrap:wrap;
}

a{
    text-decoration:none;
    color:white;
}

h1,
.headerDescription,
.startButton,
.footerSection{
    animation-duration: 1s;
    animation-timing-function: linear;
}

.startButton:hover,
.startButton:focus,
.randomizeCat:hover,
.randomizeCat:focus,
.footerAnchor:hover,
.footerAnchor:focus{
    color:#c1bae5;
    transition-timing-function:ease;
    transition-duration:1.5s;
}

/* Header */

.header {
    color:white;
}

.flexHeader {
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:90vh;
}

.headerDescription {
    font-size:3.5rem;
    text-align:center;
    margin: 30px 0;
}

button{
    background-color:#635994;
    border:none;
    color:inherit;
    font-weight:bold;
}

.displayNone{
    display:none;
}

/* Cat Content Section */

.catContentSection{
    min-height:100vh;
}

.catGenerator {
    font-weight:400;
    background-color:#FFFFFF;
    padding:30px;
    border: 1px solid #e9e5e5;
    position:relative;
    width:100%;
}

.centerCatApp {
    min-height:100vh;
    align-items:center;
    justify-content:center;
}

.profileName {
    align-items:center;
    margin-bottom:10px;
}

.profileName p {
    font-weight:600;
    font-size:1.5rem;
}

.profilePicture{
    border-radius:50%;
    height:40px;
    width:40px;
    margin-right:15px;
}

.catGeneratorLeftSide{
    width:65%;
    display:flex;
    align-items:flex-end;
}

.catGeneratorRightSide{
    width:35%;
    padding-left:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.catGeneratorBotRight,
.catGeneratorTopRight{
    height:50%;
}

.catGeneratorBotRight{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}

.catGeneratedImage{
    height:95%;
    width:100%;
    object-fit:contain;
}

.imageContainer{
    height:600px;
}

.randomizeCatButton,
.startButton{
    color:white;
    padding:10px 50px;
    cursor:pointer;
}

.randomizeCat{
    width:100%;
    display:block;
}

.randomizeCatButton{
    width:100%;
}

.captionSection {
    display:flex;
    justify-content:center;
    flex-direction:column;
    border-top: 1px solid #e9e5e5;
}

.kanyeCaption {
    font-size:2.5rem;
    margin-top:20px;
}

.catGeneratorButtons{
    min-width:35%;
    max-width:35%;
    height:40px;
    display:flex;
    margin-bottom:20px;
}

.reactionContainers{
    width:50%;
    height:100%;
    object-fit:contain;
    cursor:pointer;
}

.reactionHeart,
.reactionSend{
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    height:100%;
    width:100%;
    object-fit:contain;
}

.backButton {
    position:absolute;
    width:40px;
    height:40px;
    top:5px;
    left:20px;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    cursor:pointer;
}

/* Footer */

footer .wrapper{
    display:flex;
    justify-content:center;
    align-items:center;
}

.footerSection{
    height:10vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    background:linear-gradient(-135deg, rgba(200, 80, 192, 0.4), rgba(65, 87, 216, 0.4));
    background-size:150%;
    border-radius:20px;
    min-width:50%;
    max-width:50%;
}

.footerAnchor{
    text-align:center;
}

/* Media Queries */

@media (max-width:1060px) {

    /* Overall */

    /* Header */

    /* Cat Section */
    .catGenerator{
        flex-direction:column;
    }

    .catGeneratorRightSide{
        height:40vh;
        width:100%;
        padding-left:0;
    }

    .catGeneratorTopRight{
        margin-top:20px;
    }

    .catGeneratedLeftSide,
    .imageContainer{
        height:40vh;
        width:100%;
    }

    .catGeneratedImage{
        object-fit:cover;
    }

    .reactionContainers{
        width:40px;
        height:40px;
    }

    .catGeneratorButtons div{
        margin-right:10px;
    }

}

@media (max-width:760px){
    .kanyeCaption{
        font-size:1.8rem;
    }
}

@media (max-width:570px){
    h1 {
        font-size:5.5rem;
    }

    .headerDescription{
        font-size:3rem;
    }

    footer p {
        font-size:1.5rem;
    }
}

@media (max-width:500px){

    /* Header */

    .headerDescription{
        margin:50px 0;
    }

    /* Cat Section */
    .catGeneratorButtons{
        max-width:45%;
        min-width:45%;
    }

    .kanyeCaption{
        font-size:1.4rem;
    }

    .catGeneratorButtons{
        margin-bottom:10px;
    }

    .reactionContainers{
        width:30px;
        height:30px;
    }
}
